#img-banner{
  height: 400px;
  background-size: cover;
  background-position: center;
}
#banner {
  h1 {
    font-weight: $font-weight-bold;
  }
}

#home-banner{
  height: 400px;
  background-size: cover;
  background-position: center;
}
#banner {
  h1 {
    font-weight: $font-weight-bold;
  }
}
