$chertsey-red: #d01600;
$chertsey-black: #000;

$squirrels: #ca1a10;
$beavers: #006ddf;
$cubs: #23a950;
$scouts: #00A794;
$explorers: #003982;
$network: #000000;

$black:    #000;

// Overrides

$primary: #d01600;
$secondary: #e9ecef;

$font-weight-semibold: 600;

$headings-font-family:  'Nunito Sans', sans-serif;

$card-cap-bg:   rgba($black, .2);
$link-decoration: none;

$navbar-light-active-color: #6c757d;