---
layout: sub-page
---

<div class="row">
    <div class="sections-area col-md-9">
        {{ content | safe }}
    </div>
    <div class="side col-md-3">
        <div class="position-sticky" style="top: 2rem;">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-12">
                    {% include "sections/nav-card.njk" %}
                </div>
                <div class="col-12 col-sm-6 col-md-12">
                    {% include "sections/sections-side-card.njk" %}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {% include "news/related.njk" %}
                </div>
            </div>
        </div>
    </div>
</div>